@page "/todo"

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Todo (@todos.Count(item => item.IsDone == false))</h2>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Is Done</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in todos)
                {
                    <tr>
                        <td>
                            <div style="@(item.IsDone == true ? "color: green; text-decoration: line-through;" : "color: red")">
                                @item.Title
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" @bind="item.IsDone" /> 
                        </td>
                        <td>
                            <button class="btn btn-danger" @onclick="(() => DeleteTodo(item))">Delete</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Type something todo" @bind="newTodo"/>
                </div>
                <div class="col">
                    <button class="btn btn-success" @onclick="AddTodo">Add todo</button>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private void DeleteTodo(TodoItem deletedTodo)
    {
        todos.Remove(deletedTodo);
    }
}
